---
title: Home
---
<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			{% if post.featured_image %}
				<div class="image">
					<img src="{{ post.featured_image }}" alt="{{ post.title }}">
				</div>
			{% endif %}

			{{ post.excerpt }}

			<p><a class="button" href="{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e22ef0a0f435a1b54b100d916/9ac7ecb14400fb1192e596ab0.js");</script>
<script data-ad-client="ca-pub-9371887024896991" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</section>
