---
layout: default
---
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://ajaycooks.us19.list-manage.com/subscribe/post?u=e22ef0a0f435a1b54b100d916&amp;id=f8299505e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Sign up to get recipes sent to your email!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e22ef0a0f435a1b54b100d916_f8299505e3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	{% if page.featured_image %}
		<div class="image">
			<img src="{{ page.featured_image }}" alt="{{ page.title }}">
		</div>
	{% endif %}

	<div class="recipe-body">
		{{ content }}
	</div>

	<!--
		The invisible anchor div is positioned slightly higher than the actual recipe start
		so that jumping to the recipe will scroll the recipe into view without being superimposed by the top nav bar.
	-->
	<div style="position: relative">
		<div id="recipe" class="take-me-anchor"></div>
	</div>
	<ul class="recipe-overview">
		{% if page.recipe.servings %}
			<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
		{% endif %}
		{% if page.recipe.prep %}
			<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		{% endif %}
		{% if page.recipe.cook %}
			<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
		{% endif %}
	</ul>

	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Ingredients</h2>
			{{ page.recipe.ingredients_markdown | flatify | markdownify }}
		</div>

		<div class="directions">
			<h2>Directions</h2>
			{{ page.recipe.directions_markdown | flatify | markdownify }}
		</div>
	</div>

	<div class="sharing">
		{% assign share_url = page.url | absolute_url | cgi_escape %}
		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include social-icon.html icon="Facebook" %}</a>
		<a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!">{% include social-icon.html icon="Twitter" %}</a>
		<a class="pinterest" href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}">{% include social-icon.html icon="Pinterest" %}</a>
		<a class="email" href="mailto:?subject=I've%20found%20a%20great%20recipe&amp;body=Check%20it%20out%20-%20{{ share_url }}">{% include social-icon.html icon="Email" %}</a>
	</div>

	<div class="cta">
		<p>This is but one of the many fantastic recipes available on this blog!</p>
		<div class="button"><a href="/recipes">Check out more recipes</a></div>
	</div>
	{% if site.disqus_shortname and page.comments %}
		<div id="disqus_thread"></div>
		<script>
			var disqus_shortname = '{{ site.disqus_shortname }}';
			var disqus_config = function () {
				this.page.url = "{{ page.url | prepend: site.url }}";
				this.page.identifier = "{{ page.id }}";
			};
			(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	{% endif %}
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ajaycooks.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//ajaycooks.disqus.com/count.js" async></script>                            
